* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

body,
html {
    width: 100vw;
    height: 100vh;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

.box-shadow {
    -webkit-box-shadow: -1px 7px 23px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 7px 23px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 7px 23px -10px rgba(0, 0, 0, 0.75);
}

.main-container-grid {
    display: grid;
    grid-template-rows: 1fr 13fr 1fr;
    height: 100%;
    grid-row-gap: 1em;
    background-color: #9BC1BC;
}

.r1,
.r3 {
    display: grid;
    background-color: #9BC1BC;
    padding: 1em;
    align-items: center;
}

.r1 > h2 > img {
    height: 130px;
}

.r3 {
    text-align: center;
}

.r2 {
    height: 100%;
    background-color: #f1f1f1;
}

.three-column {
    display: grid;

}

.c1 {
    min-width: 200px;
}

.c1,
.c3 {
    background-color: #E6EBE0;
}

.txt-center {
    text-align: center;
    margin: 15px auto 0px;
    border-bottom: 1px solid #a8a7a7;
    padding-bottom: 15px;
}

.left-nav {
    list-style-type: none;
}

.left-nav>li>a {
    display: block;
    padding: 15px 0px 15px 30px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.7s;
    background-color: #E6EBE0;
}

.left-nav>li>a:hover {
    background-color: #8d8c8c;
}

.c2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-gap: 1em;
    grid-auto-rows: min-content;
}

.c2>img {
    width: 100%;
    align-self: center;
    max-height: 130px;
}

.h2-content {
    grid-column: 1 / 5;
    height: 21px;
    width: 100%;
    text-align: center;
}
.product-grid > img {
    height: 150px;
}

.about-txt {
    text-align: center;
    padding: 1em;
    font-size: 25px;
}